In [1]:
import librosa
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np

In [10]:
data_csv_dir = 'C:\\Users\\JEREMYL\\OneDrive - Technion (1)\\MSc\\Research\\Lung sounds\\data_csv\\'

In [2]:
labels_kaggle = pd.read_csv('D:\\lung sounds\\kaggle\\labels.csv')

In [3]:
mfcc_kaggle = pd.read_csv('C:\\Users\\JEREMYL\\OneDrive - Technion (1)\\MSc\\Research\\Lung sounds\\data_csv\\kaggle_mfcc.csv')

In [4]:
labels_kaggle.head()

    ID    age sex    bmi    label
0  101   3.00   F    NaN     URTI
1  102   0.75   F    NaN  Healthy
2  103  70.00   F  33.00   Asthma
3  104  70.00   F  28.47     COPD
4  105   7.00   F    NaN     URTI

In [5]:
mfcc_kaggle.head()

,ID,mean[0],mean[1],mean[2],mean[3],mean[4],mean[5],mean[6],mean[7],mean[8],...,std_diff[2],std_diff[3],std_diff[4],std_diff[5],std_diff[6],std_diff[7],std_diff[8],std_diff[9],std_diff[10],std_diff[11]
0,101,-491.730563,145.852726,68.365336,45.694743,39.811693,23.898704,21.400596,24.673688,12.283234,...,11.533074,5.462629,5.365854,4.788986,3.569299,3.258396,2.777525,2.556032,2.647441,2.740435
1,101,-544.904592,117.332948,50.198619,38.823285,45.861996,31.833695,20.484416,19.964355,12.755227,...,7.306755,3.975228,4.046332,5.116873,4.964268,3.237038,2.423669,2.519031,2.342698,2.519742
2,102,-549.978742,136.625136,46.573904,38.665991,53.823026,28.548079,0.992284,3.021605,11.721688,...,10.061825,6.252028,4.288975,4.139119,4.892872,4.783500,3.655180,2.564830,2.077325,2.190729
3,103,-384.814490,78.209960,51.205948,38.762696,33.079774,25.728215,21.118532,18.295348,14.308211,...,5.965976,3.562496,2.336610,2.214101,2.344321,2.118013,2.384702,2.308766,2.014093,1.899501
4,104,-43.797758,133.426292,-42.183094,65.753903,-5.114413,57.939238,-34.986962,8.986619,-14.494895,...,27.794570,22.283129,6.889543,7.816983,17.842989,13.939372,5.660702,5.316243,4.796323,5.113311

In [6]:
labels_kaggle.shape

(126, 5)

In [8]:
mfcc_kaggle.shape

(918, 73)

In [11]:
mfcc_kaggle.merge(labels_kaggle).to_csv(data_csv_dir + 'kaggle_mfcc_labels.csv', index=False)

# Rename KAUH recordings

In [15]:
for filename in os.listdir('D:\\lung sounds\\KAUH\\recordings'):
    print(filename)
    new_filename = int(filename.split('.')[0])
    if new_filename < 10:
        new_filename = '00' + str(new_filename) + '.wav'
    elif new_filename < 100:
        new_filename = '0' + str(new_filename) + '.wav'
    else:
        new_filename = str(new_filename) + '.wav'
    print(new_filename)
    
    os.rename(os.path.join('D:\\lung sounds\\KAUH\\recordings', filename),
             os.path.join('D:\\lung sounds\\KAUH\\recordings', new_filename))

0.wav
000.wav
1.wav
001.wav
10.wav
010.wav
100.wav
100.wav
101.wav
101.wav
102.wav
102.wav
103.wav
103.wav
104.wav
104.wav
105.wav
105.wav
106.wav
106.wav
107.wav
107.wav
108.wav
108.wav
109.wav
109.wav
11.wav
011.wav
110.wav
110.wav
111.wav
111.wav
112.wav
112.wav
113.wav
113.wav
114.wav
114.wav
115.wav
115.wav
116.wav
116.wav
117.wav
117.wav
118.wav
118.wav
119.wav
119.wav
12.wav
012.wav
120.wav
120.wav
121.wav
121.wav
122.wav
122.wav
123.wav
123.wav
124.wav
124.wav
125.wav
125.wav
126.wav
126.wav
127.wav
127.wav
128.wav
128.wav
129.wav
129.wav
13.wav
013.wav
130.wav
130.wav
131.wav
131.wav
132.wav
132.wav
133.wav
133.wav
134.wav
134.wav
135.wav
135.wav
136.wav
136.wav
137.wav
137.wav
138.wav
138.wav
139.wav
139.wav
14.wav
014.wav
140.wav
140.wav
141.wav
141.wav
142.wav
142.wav
143.wav
143.wav
144.wav
144.wav
145.wav
145.wav
146.wav
146.wav
147.wav
147.wav
148.wav
148.wav
149.wav
149.wav
15.wav
015.wav
150.wav
150.wav
151.wav
151.wav
152.wav
152.wav
153.wav
153.wav
154.wav
154.wav
155.wav
155.wav
156.wav
156.wav
157.wav
157.wav
158.wav
158.wav
159.wav
159.wav
16.wav
016.wav
160.wav
160.wav
161.wav
161.wav
162.wav
162.wav
163.wav
163.wav
164.wav
164.wav
165.wav
165.wav
166.wav
166.wav
167.wav
167.wav
168.wav
168.wav
169.wav
169.wav
17.wav
017.wav
170.wav
170.wav
171.wav
171.wav
172.wav
172.wav
173.wav
173.wav
174.wav
174.wav
175.wav
175.wav
176.wav
176.wav
177.wav
177.wav
178.wav
178.wav
179.wav
179.wav
18.wav
018.wav
180.wav
180.wav
181.wav
181.wav
182.wav
182.wav
183.wav
183.wav
184.wav
184.wav
185.wav
185.wav
186.wav
186.wav
187.wav
187.wav
188.wav
188.wav
189.wav
189.wav
19.wav
019.wav
190.wav
190.wav
191.wav
191.wav
192.wav
192.wav
193.wav
193.wav
194.wav
194.wav
195.wav
195.wav
196.wav
196.wav
197.wav
197.wav
198.wav
198.wav
199.wav
199.wav
2.wav
002.wav
20.wav
020.wav
200.wav
200.wav
201.wav
201.wav
202.wav
202.wav
203.wav
203.wav
204.wav
204.wav
205.wav
205.wav
206.wav
206.wav
207.wav
207.wav
208.wav
208.wav
209.wav
209.wav
21.wav
021.wav
210.wav
210.wav
211.wav
211.wav
212.wav
212.wav
213.wav
213.wav
214.wav
214.wav
215.wav
215.wav
216.wav
216.wav
217.wav
217.wav
218.wav
218.wav
219.wav
219.wav
22.wav
022.wav
220.wav
220.wav
221.wav
221.wav
222.wav
222.wav
223.wav
223.wav
224.wav
224.wav
225.wav
225.wav
226.wav
226.wav
227.wav
227.wav
228.wav
228.wav
229.wav
229.wav
23.wav
023.wav
230.wav
230.wav
231.wav
231.wav
232.wav
232.wav
233.wav
233.wav
234.wav
234.wav
235.wav
235.wav
236.wav
236.wav
237.wav
237.wav
238.wav
238.wav
239.wav
239.wav
24.wav
024.wav
240.wav
240.wav
241.wav
241.wav
242.wav
242.wav
243.wav
243.wav
244.wav
244.wav
245.wav
245.wav
246.wav
246.wav
247.wav
247.wav
248.wav
248.wav
249.wav
249.wav
25.wav
025.wav
250.wav
250.wav
251.wav
251.wav
252.wav
252.wav
253.wav
253.wav
254.wav
254.wav
255.wav
255.wav
256.wav
256.wav
257.wav
257.wav
258.wav
258.wav
259.wav
259.wav
26.wav
026.wav
260.wav
260.wav
261.wav
261.wav
262.wav
262.wav
263.wav
263.wav
264.wav
264.wav
265.wav
265.wav
266.wav
266.wav
267.wav
267.wav
268.wav
268.wav
269.wav
269.wav
27.wav
027.wav
270.wav
270.wav
271.wav
271.wav
272.wav
272.wav
273.wav
273.wav
274.wav
274.wav
275.wav
275.wav
276.wav
276.wav
277.wav
277.wav
278.wav
278.wav
279.wav
279.wav
28.wav
028.wav
280.wav
280.wav
281.wav
281.wav
282.wav
282.wav
283.wav
283.wav
284.wav
284.wav
285.wav
285.wav
286.wav
286.wav
287.wav
287.wav
288.wav
288.wav
289.wav
289.wav
29.wav
029.wav
290.wav
290.wav
291.wav
291.wav
292.wav
292.wav
293.wav
293.wav
294.wav
294.wav
295.wav
295.wav
296.wav
296.wav
297.wav
297.wav
298.wav
298.wav
299.wav
299.wav
3.wav
003.wav
30.wav
030.wav
300.wav
300.wav
301.wav
301.wav
302.wav
302.wav
303.wav
303.wav
304.wav
304.wav
305.wav
305.wav
306.wav
306.wav
307.wav
307.wav
308.wav
308.wav
309.wav
309.wav
31.wav
031.wav
310.wav
310.wav
311.wav
311.wav
312.wav
312.wav
313.wav
313.wav
314.wav
314.wav
315.wav
315.wav
316.wav
316.wav
317.wav
317.wav
318.wav
318.wav
319.wav
319.wav
32.wav
032.wav
320.wav
320.wav
321.wav
321.wav
322.wav
322.wav
323.wav
323.wav
324.wav
324.wav
325.wav
325.wav
326.wav
326.wav
327.wav
327.wav
328.wav
328.wav
329.wav
329.wav
33.wav
033.wav
330.wav
330.wav
331.wav
331.wav
332.wav
332.wav
333.wav
333.wav
334.wav
334.wav
335.wav
335.wav
34.wav
034.wav
35.wav
035.wav
36.wav
036.wav
37.wav
037.wav
38.wav
038.wav
39.wav
039.wav
4.wav
004.wav
40.wav
040.wav
41.wav
041.wav
42.wav
042.wav
43.wav
043.wav
44.wav
044.wav
45.wav
045.wav
46.wav
046.wav
47.wav
047.wav
48.wav
048.wav
49.wav
049.wav
5.wav
005.wav
50.wav
050.wav
51.wav
051.wav
52.wav
052.wav
53.wav
053.wav
54.wav
054.wav
55.wav
055.wav
56.wav
056.wav
57.wav
057.wav
58.wav
058.wav
59.wav
059.wav
6.wav
006.wav
60.wav
060.wav
61.wav
061.wav
62.wav
062.wav
63.wav
063.wav
64.wav
064.wav
65.wav
065.wav
66.wav
066.wav
67.wav
067.wav
68.wav
068.wav
69.wav
069.wav
7.wav
007.wav
70.wav
070.wav
71.wav
071.wav
72.wav
072.wav
73.wav
073.wav
74.wav
074.wav
75.wav
075.wav
76.wav
076.wav
77.wav
077.wav
78.wav
078.wav
79.wav
079.wav
8.wav
008.wav
80.wav
080.wav
81.wav
081.wav
82.wav
082.wav
83.wav
083.wav
84.wav
084.wav
85.wav
085.wav
86.wav
086.wav
87.wav
087.wav
88.wav
088.wav
89.wav
089.wav
9.wav
009.wav
90.wav
090.wav
91.wav
091.wav
92.wav
092.wav
93.wav
093.wav
94.wav
094.wav
95.wav
095.wav
96.wav
096.wav
97.wav
097.wav
98.wav
098.wav
99.wav
099.wav

# Merge

In [16]:
labels_KAUH = pd.read_csv('D:\\lung sounds\\KAUH\\labels.csv')

In [17]:
labels_KAUH.head()

   ID  age   label sex
0   0   70       N   F
1   1   12  Asthma   F
2   2   41       N   M
3   3   81       N   F
4   4   45  Asthma   F

In [18]:
mfcc_KAUH = pd.read_csv('C:\\Users\\JEREMYL\\OneDrive - Technion (1)\\MSc\\Research\\Lung sounds\\data_csv\\KAUH_mfcc.csv')

In [19]:
mfcc_KAUH.head()

,ID,mean[0],mean[1],mean[2],mean[3],mean[4],mean[5],mean[6],mean[7],mean[8],...,std_diff[2],std_diff[3],std_diff[4],std_diff[5],std_diff[6],std_diff[7],std_diff[8],std_diff[9],std_diff[10],std_diff[11]
0,0,-138.805483,219.894084,17.692358,70.706828,25.817618,-6.734241,5.684552,0.990601,3.781801,...,38.435706,7.591682,4.211522,6.472517,2.632276,2.401753,1.652303,3.058126,2.769385,3.042575
1,1,-138.805483,219.894084,17.692358,70.706828,25.817618,-6.734241,5.684552,0.990601,3.781801,...,38.435706,7.591682,4.211522,6.472517,2.632276,2.401753,1.652303,3.058126,2.769385,3.042575
2,2,-254.900749,222.827145,46.707549,46.782652,26.529346,-12.550019,-5.155552,3.724432,0.097819,...,27.942051,5.682493,7.135746,4.533468,3.354666,2.268299,1.967115,2.014874,1.973189,2.628316
3,3,-225.933042,213.826419,59.933854,60.479902,33.355433,-7.128320,3.359082,7.041853,-0.051538,...,13.026871,6.892945,3.931550,9.140435,3.805081,1.543004,1.261601,1.661793,1.244670,1.588417
4,4,-223.793842,216.706262,62.427028,52.569043,36.311985,-5.296461,-0.488654,9.800978,1.554064,...,12.193075,4.083001,2.774132,6.711531,1.592128,1.522467,2.130815,1.071954,1.334670,1.094475

In [20]:
mfcc_KAUH.shape

(336, 73)

In [21]:
labels_KAUH.shape

(336, 4)

In [23]:
mfcc_KAUH.merge(labels_KAUH).to_csv(data_csv_dir + 'KAUH_mfcc_labels.csv', index=False)

In [32]:
labels_rambam = pd.read_csv('D:\\lung sounds\\rambam\\labels.csv').rename(columns={"id": "ID"})

In [33]:
labels_rambam.head()

,ID,name,taz,age,gender,weight,height,label
0,1,Hava Ron,21243653,21,M,NaN,NaN,Asthma
1,2,Kachlon Einav,40814436,41,F,NaN,NaN,Asthma
2,3,Shechter Pola,15612575,57,F,67.0,190.0,Pneumonia
3,4,Boys Tal,204749030,29,M,78.0,172.0,Dyspnea - Pericarditis
4,5,Banay Tikva,50943521,71,F,72.0,165.0,Small Cell Lung Cancer

In [34]:
mfcc_rambam = pd.read_csv('C:\\Users\\JEREMYL\\OneDrive - Technion (1)\\MSc\\Research\\Lung sounds\\data_csv\\rambam_mfcc.csv')

In [35]:
mfcc_rambam.head()

,ID,mean[0],mean[1],mean[2],mean[3],mean[4],mean[5],mean[6],mean[7],mean[8],...,std_diff[2],std_diff[3],std_diff[4],std_diff[5],std_diff[6],std_diff[7],std_diff[8],std_diff[9],std_diff[10],std_diff[11]
0,1,-291.032663,205.170867,38.844902,59.213445,26.350892,-6.485276,0.106247,5.463103,4.259992,...,26.897588,7.481066,8.181637,8.449147,4.553117,3.615690,4.393263,2.368915,3.783924,2.017716
1,2,-291.032663,205.170867,38.844902,59.213445,26.350892,-6.485276,0.106247,5.463103,4.259992,...,26.897588,7.481066,8.181637,8.449147,4.553117,3.615690,4.393263,2.368915,3.783924,2.017716
2,2,-279.641796,206.649188,42.286447,64.914135,25.870664,-5.714469,-2.593251,4.970254,4.492671,...,27.191092,8.279803,7.173734,5.802057,3.864036,3.484346,2.574461,2.658684,3.444674,2.093149
3,3,-284.453214,204.599052,29.849028,57.383364,18.123632,-6.400107,-2.831883,3.500814,2.462169,...,15.006130,11.496659,6.536682,4.202416,3.063665,4.034037,3.438145,4.244764,3.141828,3.226313
4,3,-258.902734,209.125663,27.452919,58.555226,22.332043,-3.643157,2.302420,4.495571,3.585543,...,17.246908,7.906546,5.980088,7.945834,4.782911,3.836383,3.057064,3.309957,3.248405,6.807370

In [36]:
labels_rambam.shape

(44, 8)

In [37]:
mfcc_rambam.shape

(85, 73)

In [40]:
mfcc_rambam.merge(labels_rambam).drop(columns=['name', 'taz']).to_csv(data_csv_dir + 'rambam_mfcc_labels.csv', index=False)

# Filter labels in different database

In [41]:
labels_keep = ['COPD', 'Asthma', 'Bronchiectasis', 'Bronchiolitis', 'Healthy', 'LRTI', 'Pneumonia', 'URTI', 'Lung Fibrosis', 
              'Heart Failure']